/* ??????? ????? */
@import "files/basic_style.css";

/* ?????????? ????????*/
@import "files/layout_1col.css";
/*@import "files/layout_2col_left.css";*/ 
/*@import "files/layout_2col_right.css";*/

/* ???????? ????? */
/*@import "files/color_08_orange.css";*/ 



